*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.vw{
    width: 100vw;
}

header{
    margin: 0;
    background-color: white;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

header:after{
        content: "";
        display: table;
        clear: both;
}

.logo{
    margin-left: 15px;
    margin-top: 10px;
}

ul{
    padding-top: 5px;
}

.clean{
    list-style: none;
    display: inline-block;
}


header a:not(.bottone-header){
    color: black;
}

a{
    text-decoration: none;
}

.nav-sx{
    float: left;
    margin-right: 30px;
}

.nav-sx li{
    margin-right: 15px;
}

.bottone-header{
    color: white;
    background-color: rgb(1, 99, 255);
    padding: 5px;
}

.nav-dx{
    float: right;
}

.nav-dx li{
    margin-right: 20px;
}

.jumbo{
    background-color: rgb(174, 209, 234);
    height: 500px;
}

.jumbo-container{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    height: 100%;
}

.titolo{
    font-size: 42px;
    padding-top: 50px;
    padding-left: 10px;
}

.jumbo-sotto{
    width: 100%;
    padding-top: 30px;
}



.jumbo-sx{
    width: 290px;
    
}

.jumbo p{
    margin-bottom: 30px;
}

.jumbo-sx a{
    color: white;
    background-color: rgb(1, 99, 255);
    padding: 7px;
    margin-top: 5px;
}

.jumbo-sx h6{
    margin-top: 15px;
}

.arrow{
    font-size: 30px;
    margin-top: 30px;
}

.jumbo-dx{
    float: right;
    margin-right: -110px;
    margin-top: -230px;
}

.jumbo-dx img{
    width: 650px;
}

.container-centrato{
    margin-top: 130px;
    margin-left: 15%;
    margin-right: 15%;
}

.piani h1{
    font-size: 30px;
}

.piani input{
    margin-top: 50px;
}

.in-dx{
    margin-left: 10px;
}

.colonne{
    width: 100%;
}

.colonna{
    display: inline-block;
    width: 30%;
    height: 750px;
    border-style: solid;
    border-width: 1px;
    color: grey;

}

.colonne::after{
    content: "";
    display: table;
    clear: both;
}

.sx{
    float: left;
}

.dx{
    float: left;
}

.cn{
    float: left;
    display: inline-table;
    margin-right: 5%;
    margin-left: 5%;
}

.singolo::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f007";
    color: #000;
    margin-right: 10px;
}

.cen{
    text-align: center;
}

.in-colonna{
    margin-left: 18px;
    margin-right: 18px;
}

.in-colonna h6{
    margin-top: 8px;
}

.cartella::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f07b";
    color: #000;
    margin-right: 10px;
}

.penna::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f303";
    color: #000;
    margin-right: 10px;
}

.in-colonna .singolo{
    margin-top: 40px;
}

.spaz-top{
    margin-top: 20px;
}

.small1{
    font-size: 13px;
}

.prova-gratis{
    color: white;
    background-color: rgb(1, 99, 255);
    text-align: center;
    margin-top: 50px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 20px;
    font-size: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.piani input{
    margin-bottom: 35px;
}

.linea-piccola{
    width: 45px;
    margin-top: 20px;
}

.in-colonna h5{
    color: black;
    margin-top: 25px;
}

.box-check div::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    color: rgb(1, 99, 255);
    margin-right: 10px;
    
}

.check{
    margin-top: 15px;
}

.team::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f1ad";
    color: #000;
}

.molti{
    margin-top: 40px;
}

.molti::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f234";
    color: #000;
    margin-right: 10px;
}

.smile::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f118";
    color: #000;
    margin-right: 10px;
}


/*
.item::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f234";
    color: #000;
}
*/